<section class="weatherReport">
  <div class="weatherReport-header">
    <h2>{{model.locationName}}</h2>
    {{weather-searchbar placeholder="Search for a city" transitionToLocation="transitionToSearchedLocationHandler"}}
    {{weather-datepicker setStartAt="setStartAt" setEndAt="setEndAt" query="query" }}
  </div>
  <div class="weatherReport-sunnyPercent">{{days.sunnyPercent}}%</div>
  {{#each day in days}}
    <div class="weatherReport-day">
      {{#each daily in day.daily.data}}
        <div class="weatherReport-date">{{format-time daily.time}}</div>
        <div class="weatherReport-temprature">{{format-degree daily.temperatureMin}}°</div>
        <div class="weatherReport-percipitation">{{daily.precipProbability}}</div>
      {{/each}}
    </div>
  {{/each}}
</section>