<section class="weatherReport">
  <div class="weatherReport-header">
    <h2>{{model.locationName}}</h2>
    {{weather-searchbar placeholder="Search for a city" transitionToLocation="transitionToSearchedLocationHandler"}}
    {{weather-datepicker setStartAt="setStartAt" setEndAt="setEndAt" query="query" }}
  </div>
  <div class="weatherReport-sunnyPercent">{{days.sunnyPercent}}%</div>
  {{#each day in days}}
    <div class="weatherReport-day">
      <div class="weatherReport-date">{{format-time day.date}}</div>
      <div class="weatherReport-temprature">{{format-degree day.temperature}}°</div>
      <div class="weatherReport-percipitation" {{bind-attr style=day.rainfallStyle}}></div>
    </div>
  {{/each}}
</section>